/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/resume/Resume.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* Ensure the container aligns content to the left */
.Resume_container__zcZ0q {
    width: 80%; /* Control width for readability */
    margin: 20px auto; /* Center container on the page horizontally */
    padding: 10px; /* Add breathing space */
    text-align: left; /* Left-align all text */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  /* Box around each section */
  .Resume_section__e0xpT {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px; /* Space between sections */
    background-color: #fff; /* Clean white background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: left; /* Ensure content aligns left */
  }
  
  /* Titles */

  /* General text styling */

